%div{ :id => 'sf_fieldset_' . preg_replace( '/[^a-z0-9_]/', '_', strtolower( $fieldset ) ), :class => $isOne ? 'sf_admin_form_tab_menu_fieldset_one' : '' }
    %fieldset
        - foreach ( $fields as $name => $field )
            - if ( ( isset( $form[$name] ) && $form[$name]->isHidden() ) || ( !isset( $form[$name] ) && $field->isReal() ) )
                - continue
            = Partial::get( '<?php echo $this->getModuleName() ?>/form_field', array( 'name' => $name, 'attributes' => $field->getConfig( 'attributes', array() ), 'label' => $field->getConfig( 'label' ), 'help' => $field->getConfig( 'help' ), 'form' => $form, 'field' => $field, 'class' => 'sf_admin_form_row sf_admin_' . strtolower( $field->getType() ) . ' sf_admin_form_field_' . $name ) )

-#EOF