<?php if ( $listActions = $this->configuration->getValue( 'list.batch_actions' ) ): ?>
%li.sf_admin_batch_actions_choice
    %select{ :name => 'batch_action', :class => 'text ui-widget-content ui-corner-all' }
        %option{ :value => '' }
            = I18n::__( 'admin.labels.chooseAction' )
<?php foreach ( (array) $listActions as $action => $params ): ?>
        <?php echo $this->addCredentialCondition( "%option{ :value => '" . $action . "' }\n            = I18n::__( 'admin.labels." . strtolower( substr( $params['label'], 0, 1 ) ) . substr( $params['label'], 1 ) . "' )\n", $params ) . "\n" ?>
<?php endforeach ?>
    - $form = new BaseForm()
    - if ( $form->isCSRFProtected() )
        %input{ :type => 'hidden', :name => $form->getCSRFFieldName(), :value => $form->getCSRFToken() }
    %button{ :type => 'submit' }
        = I18n::__( 'admin.labels.go' )
:javascript
    $(function(){$('.sf_admin_batch_actions_choice button').button({icons:{primary:'ui-icon-circle-triangle-e'}})});
<?php endif ?>

-#EOF